WebContent/schema/JobGroup.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:jobgroup="base/resource/console/group/model" targetNamespace="base/resource/console/group/model" elementFormDefault="qualified">
	<xs:element name="JobGroups">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="jobGroup" type="jobgroup:jobGroupType" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="jobGroupType">
		<xs:sequence>
			<xs:element name="id" type="xs:string"/>
			<xs:element name="group_name" type="xs:string"/>
			<xs:element name="description" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
