WebContent/schema/System.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:system="base/resource/console/system/model" targetNamespace="base/resource/console/system/model" elementFormDefault="qualified">
	<xs:element name="Systems">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="system" type="system:systemType" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="systemType">
		<xs:sequence>
			<xs:element name="id" type="xs:string"/>
			<xs:element name="system_name" type="xs:string"/>
			<xs:element name="description" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
